/* STYLE GÉNÉRAL APPLICABLE SUR TOUTES LES PAGES */

body{
  background-color: #282c34;
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
  margin: 0;
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;  /*Ici chaque lien est en blanc pour rester cohérent avec le style de la page, sinon chaque lien serait constamment en bleu*/
}

a:hover{
  text-decoration: underline;
}

/* PAGE ACCUEIL/ SECTION PREMIÈRE PAGE */

.header{
  background-color: #1d2025;
  width: 100%;
  position: fixed;  /*Ici le position fixed sert à garder l'image à l'endroit que l'on veut,avec les proportions voulues, il permet aussi à chaque page de garder cette position*/
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.contenu{
  display: grid;  /*On a crée une balise grid afin de mieux organiser notre site sur toutes les pages, c'est a dire que l'on a pas besoin de régler*/
  padding-top: 60px;
  grid-template-areas: 'left middle right'; /*Ici le grid nous permet d'organiser nos ensemble soit à droite, milieu ou gauche*/
  grid-template-columns: 0.05fr 1fr 1fr;  /*Cette ligne nous permet de régler la taille de chaque colonne du grid, c'est à dire la taille que prendra chaque partie sur la page*/
  grid-column-gap: 20px;  /*Et celle ci nous permet d'espacer chaque colonne afin que le site soit plus épuré*/
}

nav{
  margin: 30px 0px 0px 15px;
  border: solid;
  border-color: #3d434f;
  background-color: #1d2025;
  font-size: 20px;
  padding: 30px;
  font-weight: bold;
  grid-area: left;
  border-radius: 10px;  /*Cette balise permet à notre border d'avoir un effet plutôt arrondi, et pas rectangulaire*/
  max-height: 130px;
}

.texte{
  margin-top: 30px;
  padding: 25px;
  grid-area: middle;
  text-align: justify;  /*Le mettre en justify nous permet d'avoir un texte qui commence et fini exactement au même endroit à chaque ligne, pour que tout soit correctement organisé*/
  border: solid;
  border-color: #3d434f;
  border-radius: 10px;
}

.right{                   /*Ici on vient directement modifier la partie droite du Grid crée précédemment, ça nous permet de ne pas avoir à faire une nouvelle class à chaque fois*/
  text-align: center;     /*Il nous sert donc pour le texte si nécessaire ou ici pour centrer la vidéo*/
  grid-area: right;
  border: solid;
  border-color: #3d434f;
  border-radius: 10px;
  margin-top: 30px;
  padding: 25px;
  margin-right: 15px;
}


/* PAGE "STATISTIQUES" / SECTION TABLEAU */

.tableau{
  margin-top: 30px;
  padding: 25px;
  grid-area: middle;
  text-align: center;
  border: solid;
  border-color: #3d434f;
  border-radius: 10px;
}
table{
  background-color: #1d2025;
  width: 50ex;
  color: white;
  border: solid;
  border-color: #3d434f;
  border-radius: 10px;
  margin: auto;
  grid-area: middle;

}

#centre{
 font-weight: bold;
}

.italic{
  font-style: italic;
}

/* PAGE "VOTRE AVIS" / SECTION FORMULAIRE */

fieldset{
  border-style: none;
}

#avis{
  width: 75%;
}
textarea{
  resize: vertical;
}

/* LIEN DES CONTACTS */

.footer{
  background-color: #1d2025;
  width: 100%;
  position: fixed;  /*Ici le position fixed sert à garder l'image à l'endroit que l'on veut,avec les proportions voulues, il permet aussi à chaque page de garder cette position*/
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  bottom:0px;
}

.recherche{
  border-radius: 15px;
  background-color: #282c34;
  width: 30%;
  height: 50%;
  color: #fff;
  
}

.recherche:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
}

.logo{
  margin-left: 3%;
}
